.box {
    background-color: #222222;
    color: #ffffff;
}

.container {
    background: #5358a3;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "header header header header header header header header"
    ". . . . . . . ."
    "content content content content content . sidebar sidebar"
    "content content content content content . sidebar sidebar"
    "content content content content content . sidebar sidebar"
    "content content content content content . sidebar sidebar"
    ". . . . . . . ."
    "footer footer footer footer footer footer footer footer"
    ;
}

header {
    grid-area: header;
}

main {
    grid-column: content-start / content-end;
    grid-row: content-start / content-end;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}